<ion-view hide-nav-bar="true" view-title="数据中心">
	<!--中间内容区-->
	<ion-content>
		<div style="z-index: 8; position: absolute;top: 80px;">
			<span>抢单</span>
			<donglimei></donglimei>
			<span>动力煤</span>
		</div>
		<div style="z-index: 7; position: absolute;top: 80px;left: 80px">
			<wuyanmei></wuyanmei>
			<span>无烟煤</span>
		</div>
		<div style="z-index: 6; position: absolute;top: 80px;left: 160px">
			<penchuimei></penchuimei>
			<span>喷吹煤</span>
		</div>
		<div style="z-index: 5; position: absolute;top: 80px;left: 240px">
			<lianjiaomei></lianjiaomei>
			<span>炼焦煤</span>
		</div>
		<div style="z-index: 4; position: absolute;top: 80px;left: 320px">
			<yuanmei></yuanmei>
			<span>原煤</span>
		</div>
		<!--浏览量-->
		<div style="z-index: 3; position: absolute;top: 250px;">
			<span>浏览 180</span>
			<browse></browse>
		</div>
		<!--交易金额-->
		<div style="z-index: 2; position: absolute;top: 420px;">
			<span>金额 108万</span>
			<money></money>
		</div>
		<!--转化-->
		<div style="z-index: 1; position: absolute;top: 570px;">
			<span>转化</span>
			<change></change>
		</div>
		<div style="z-index: 0;">
			<buy></buy>
		</div>
	</ion-content>
	<div class="tabs">
		<a class="tab-item active">采购数据</a>
		<a class="tab-item " ui-sref="sell">销售数据</a>
		<a class="tab-item " ui-sref="pass">物流数据</a>
		<a class="tab-item " ui-sref="car">司机数据</a>
		<a class="tab-item " ui-sref="relation">企业关系</a>
		<a class="tab-item " ui-sref="market">市场分布</a>
	</div>
</ion-view>
