<ion-view hide-nav-bar="true" view-title="数据中心">
	<!--中间内容区-->
	<ion-content>
		<div style="z-index: 3; position: absolute;top: 100px;">
			<span>抢单</span>
			<grap></grap>
			<span>动力煤</span>
		</div>
		<div style="z-index: 2; position: absolute;top: 100px;left: 80px">
			<grap1></grap1>
			<span>动力煤</span>
		</div>
		<div style="z-index: 1;">
			<buy></buy>
		</div>
	</ion-content>
	<div class="tabs">
		<a class="tab-item active">采购数据</a>
		<a class="tab-item " ui-sref="sell">销售数据</a>
		<a class="tab-item " ui-sref="pass">物流数据</a>
		<a class="tab-item " ui-sref="car">司机数据</a>
		<a class="tab-item " ui-sref="relation">企业关系</a>
		<a class="tab-item " ui-sref="market">市场分布</a>
	</div>
</ion-view>
