<ion-view hide-nav-bar="true" view-title="数据中心">
	<!--顶部二级导航-->
	<div class="tabs-striped tabs-top">
		<div class="tabs">
			<a class="tab-item " ui-sref="buy">采购数据</a>
			<a class="tab-item " ui-sref="sell">销售数据</a>
			<a class="tab-item active" >物流数据</a>
			<a class="tab-item " ui-sref="car">司机数据</a>
			<a class="tab-item " ui-sref="relation">企业关系</a>
			<a class="tab-item " ui-sref="market">市场分布</a>
		</div>
	</div>


	<!--中间内容区-->
	<ion-content class="has-subheader">
		<pass></pass>
	</ion-content>
</ion-view>
