<ion-view hide-nav-bar="true" view-title="数据中心">
  <!--顶部二级导航-->
  <div class="tabs tabs-top bg-deep-blue tabs-top-dc">
  </div>
  <!--中间内容区-->
  <ion-content class="has-subheader has-subheader-dc bg-gray">
    <div class="row">
      <div class="col col-20" style="margin-top: 5%;text-align: left;margin-left: 3%">
        <h5>平台企业数</h5>
        <div style="margin-top: 10%">
          <h6>煤炭</h6>
          <h2>2,785家</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>煤炭</h6>
          <h2>2,785家</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>煤炭</h6>
          <h2>2,785家</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>煤炭</h6>
          <h2>2,785家</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>煤炭</h6>
          <h2>2,785家</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>煤炭</h6>
          <h2>2,785家</h2>
        </div>
        <div style="margin-top: 10%">
          <h6>平均每个企业合作伙伴</h6>
        </div>
        <div style="margin-top: 10%">
          <h2>55家</h2>
        </div>
      </div>
      <div class="col col-60">
        <relation></relation>
      </div>
      <div class="col col-20" style="margin-top: 5%;text-align: center;margin-right: 3%">
        <h5>注册人员分表</h5>
        <div style="margin-top: 10%">
          <h6>超级管理员</h6>
          <h2>1,110个</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>采购负责人</h6>
          <h2>1,785个</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>销售负责人</h6>
          <h2>1,258个</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>财务负责人</h6>
          <h2>652个</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>物流负责人</h6>
          <h2>980个</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>自由司机</h6>
          <h2>2,050个</h2>
        </div>
        <div style="margin-top: 6%">
          <h6>挂靠司机</h6>
          <h2>2,150个</h2>
        </div>
      </div>
    </div>


  </ion-content>
  <div class="tabs tabs-bottom bg-yellow">
    <a class="tab-item " ui-sref="buy">采购</a>
    <a class="tab-item " ui-sref="sell">销售</a>
    <a class="tab-item " ui-sref="pass">物流</a>
    <a class="tab-item " ui-sref="car">司机</a>
    <a class="tab-item active" ui-sref="relation">企业关系</a>
    <a class="tab-item" ui-sref="market">市场分布</a>
  </div>
</ion-view>
