<ion-view hide-nav-bar="true" view-title="数据中心">
	<!--顶部二级导航-->
	<div class="tabs tabs-top bg-deep-blue tabs-top-dc">
	</div>
	<!--中间内容区-->
	<ion-content class="has-subheader has-subheader-dc bg-gray">
		<div class="row">
			<div class="col col-10" style="margin-top: 15%;text-align: left;margin-left: 3%">
				<h5>平台企业数</h5>
				<div style="margin-top: 25%">
					<h6>煤炭</h6>
					<h2>2,785</h2>
				</div>
				<div style="margin-top: 6%">
					<h6>耐火材料</h6>
					<h2>3,745</h2>
				</div>
				<div style="margin-top: 6%">
					<h6>铁合金</h6>
					<h2>5,485</h2>
				</div>
				<div style="margin-top: 25%">
					<h6>平均每个企业合作伙伴</h6>
				</div>
				<div>
					<h2>55</h2>
				</div>
			</div>
			<div class="col col-10" style="margin-top: 17.8%;text-align: left;margin-left: 3%">
				<div style="margin-top: 10%">
					<h6>矿粉</h6>
					<h2>2,344</h2>
				</div>
				<div style="margin-top: 6%">
					<h6>合金</h6>
					<h2>3,185</h2>
				</div>
				<div style="margin-top: 6%">
					<h6>钢铁</h6>
					<h2>2,335</h2>
				</div>
			</div>
			<div class="col col-60">
				<div style="text-align: left">
					<relation></relation>
				</div>
			</div>
			<div class="col col-20" style="padding-top: 15%;text-align: center;margin-right: 3%">
				<h5>注册人员分表</h5>
				<div style="margin-top: 10%">
					<h6>超级管理员</h6>
					<h2>1,110</h2>
				</div>
				<div style="margin-top: 6%">
					<h6>采购负责人</h6>
					<h2>1,385</h2>
				</div>
				<div style="margin-top: 6%">
					<h6>销售负责人</h6>
					<h2>2,258</h2>
				</div>
				<div style="margin-top: 16%">
					<h6>物流负责人</h6>
					<h2>980</h2>
				</div>
				<div style="margin-top: 6%">
					<h6>挂靠司机</h6>
					<h2>2,950</h2>
				</div>
			</div>
		</div>


	</ion-content>
	<div class="tabs tabs-bottom bg-yellow">
		<a class="tab-item " ui-sref="buy">采购</a>
		<a class="tab-item " ui-sref="sell">销售</a>
		<a class="tab-item " ui-sref="pass">物流</a>
		<a class="tab-item " ui-sref="car">司机</a>
		<a class="tab-item active" ui-sref="relation">企业关系</a>
		<a class="tab-item" ui-sref="market">市场分布</a>
	</div>
</ion-view>
