/* Empty. Add your own CSS if you like */

body {
  font-family: verdana, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: verdana, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 18px;
}

h3,
.h3 {
  font-size: 16px;
}

h4,
.h4 {
  font-size: 14px;
}

h5,
.h5 {
  font-size: 12px;
}

h6,
.h6 {
  font-size: 11px;
}

.clearfix {
  clear: both;
}

/*背景颜色*/

.bg-deep-blue {
  background: rgb(64, 74, 89);
  color: #efd687;
}

.bg-yellow {
  color: #8b572a;
  background: -webkit-linear-gradient(#ffefb5, #ffe384);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#ffefb5, #ffe384);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#ffefb5, #ffe384);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#ffefb5, #ffe384);
  /* 标准的语法 */
}

.bg-gray {
  background: #f3f3f3;
}

/*文字颜色*/

.text-red {
  color: #c33430;
}

.text-blue {
  color: #367df4;
}

.text-green {
  color: #91c7af;
}

.text-brown {
  color: #8B572A;
}

.text-purple {
  color: #6e5fa9;
}

.text-yellow {
  color: #efd687;
  cursor: pointer;
}


/*采购数据*/

.fixed {
  position: absolute;
}

.main-first {
  text-align: center;
}

.main-first h4.fixed {
  top: 3%;
  padding-left: 30px;
}

.main-first div.fixed {
  top: 5%;
  padding-left: 30px;
}

.main-first.active h4.fixed {
  border-left: 3px solid #efd687;
}

.main-first.active div.fixed-active {
  border-left: 3px solid #efd687;
}

.main-second h4.fixed {
  top: 20%;
  padding-left: 30px;
}

.main-second div.fixed {
  top: 20%;
  padding-left: 30px;
}

.main-second.active h4.fixed {
  border-left: 3px solid #efd687;
}
.main-second.active div.fixed {
  border-left: 3px solid #efd687;
}

.main-third h4.fixed {
  top: 40%;
  padding-left: 30px;
}

.main-third div.fixed {
  top: 40%;
  padding-left: 30px;
}

.main-third.active h4.fixed {
  border-left: 3px solid #efd687;
}
.main-third.active div.fixed {
  border-left: 3px solid #efd687;
}

.main-fourth h4.fixed {
  top: 64%;
  padding-left: 30px;
}

.main-fourth div.fixed {
  top:62%;
  padding-left: 30px;
}

.main-fourth.active h4.fixed {
  border-left: 3px solid #efd687;
}
.main-fourth.active div.fixed {
  border-left: 3px solid #efd687;
}

/*头部、底部导航*/

.tabs.tabs-top.tabs-top-dc {
  top: 0;
  border-color: rgb(64, 74, 89);
}

.tabs-top-dc .tab-item.active {
  border-bottom: 2px solid #efd687;
}

.has-subheader-dc {
  top: 44px;
}

.tab-item {
  font-weight: normal;
}

.tabs-bottom .tab-item.active {
  background: #ecd89a;
}
